In [1]:
import pandas as pd
import numpy as np
import requests
import bs4 as bs
import urllib.request

**<h1>Extractin features of 2020 movies from wikipedia</h1>**

In [2]:
link = 'https://en.wikipedia.org/wiki/List_of_American_films_of_2020'

In [3]:
source = urllib.request.urlopen(link).read()
soup = bs.BeautifulSoup(source,'lxml')

In [4]:
tables = soup.find_all('table',class_='wikitable sortable')

In [5]:
len(tables)

4

In [6]:
type(tables[0])

bs4.element.Tag

In [7]:
df1 = pd.read_html(str(tables[0]))[0]
df2 = pd.read_html(str(tables[1]))[0]
df3 = pd.read_html(str(tables[2]))[0]
df4 = pd.read_html(str(tables[3]).replace("'1\"\'",'"1"'))[0]

In [8]:
df = df1.append( df2.append( df3.append(df4,ignore_index=True) ,ignore_index=True) ,ignore_index=True)

In [9]:
df

      Opening  ...   Ref.
0     JANUARY  ...    [2]
1     JANUARY  ...    [3]
2     JANUARY  ...    [4]
3     JANUARY  ...    [5]
4     JANUARY  ...    [6]
..        ...  ...    ...
215  DECEMBER  ...  [207]
216  DECEMBER  ...  [208]
217  DECEMBER  ...  [209]
218  DECEMBER  ...  [210]
219  DECEMBER  ...  [211]

[220 rows x 6 columns]

In [10]:
df_2020 = df[['Title','Cast and crew']]
# df_2020 = df[['Title','Cast and crew']][142:146]

In [11]:
df_2020

                     Title                                      Cast and crew
0               The Grudge  Nicolas Pesce (director/screenplay); Andrea Ri...
1               Underwater  William Eubank (director); Brian Duffield, Ada...
2              Like a Boss  Miguel Arteta (director); Sam Pitman, Adam Col...
3        Inherit the Viper  Anthony Jerjen (director); Andrew Crabtree (sc...
4               The Sonata  Andrew Desmond (director/screenplay); Arthur M...
..                     ...                                                ...
215      News of the World  Paul Greengrass (director/screenplay); Luke Da...
216     One Night in Miami  Regina King (director); Kemp Powers (screenpla...
217  Promising Young Woman  Emerald Fennell (director/screenplay); Carey M...
218          Sylvie's Love  Eugene Ashe (director/screenplay); Tessa Thomp...
219         Monster Hunter  Paul W. S. Anderson (director/screenplay); Mil...

[220 rows x 2 columns]

In [12]:
!pip install tmdbv3api

Collecting tmdbv3api
  Downloading https://files.pythonhosted.org/packages/3e/03/e7ae6cb2777876f8d412e45c74abc639c77e1c91a97d73a99d542f4c43b0/tmdbv3api-1.6.2-py2.py3-none-any.whl
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from tmdbv3api) (2.23.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->tmdbv3api) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->tmdbv3api) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->tmdbv3api) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->tmdbv3api) (2.10)
Installing collected packages: tmdbv3api
Successfully installed tmdbv3api-1.6.2

In [13]:
from tmdbv3api import TMDb
import json
import requests
tmdb = TMDb()
tmdb.api_key='5492165c61b1a21c06eb3a3b578a6339'

In [14]:
from tmdbv3api import Movie
tmdb_movie = Movie()

In [15]:
# def get_genre(y):
#     x=str(y)
#     genres = []
#     result = tmdb_movie.search(x)
#     movie_id = result[0].id
#     response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}'.format(movie_id,tmdb.api_key))
#     data_json = response.json()
#     if data_json['genres']:
#         genre_str = " " 
#         for i in range(0,len(data_json['genres'])):
#             genres.append(data_json['genres'][i]['name'])
#         return genre_str.join(genres)
#     else:
#         np.NaN

#     return data_json

In [16]:
# def get_genre(y):
#     x=str(y)
#     genres = []
#     result = tmdb_movie.search(x)
#     movie_id = result[0].id
#     response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}'.format(movie_id,tmdb.api_key))
#     data_json = response.json()
#     if data_json['genres']:
#         genre_str = " " 
#         for i in range(0,len(data_json['genres'])):
#             genres.append(data_json['genres'][i]['name'])
#         genre_list = str(genres)
#         return genre_list
# #         return genre_str.join(genre_list)
#     else:
#         np.NaN

In [17]:
# This is the valid
def get_genre(y):
    x=str(y)
    genres = []
    result = tmdb_movie.search(x)     # Finds all titles that include x, 
    if str(result) != "[]":
      movie_id = result[0].id           # the first coincides with x

      response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}'.format(movie_id,tmdb.api_key))
      data_json = response.json()

      if data_json['genres']:
          genre_str = " " 
          for i in range(0,len(data_json['genres'])):
              genres.append(data_json['genres'][i]['name'])
          return genre_str.join(genres)
      # else:
      #   return np.NaN

    else:     
      return np.NaN

In [18]:
df_2020['genres'] = df_2020['Title'].map(lambda x: get_genre(x))
# df_2020['genres'][0]
df_2020

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

                     Title  ...                                  genres
0               The Grudge  ...                          Horror Mystery
1               Underwater  ...  Action Horror Science Fiction Thriller
2              Like a Boss  ...                                  Comedy
3        Inherit the Viper  ...                    Drama Thriller Crime
4               The Sonata  ...                 Horror Thriller Mystery
..                     ...  ...                                     ...
215      News of the World  ...                           Drama Western
216     One Night in Miami  ...                                   Drama
217  Promising Young Woman  ...                    Thriller Crime Drama
218          Sylvie's Love  ...                                   Drama
219         Monster Hunter  ...                Fantasy Action Adventure

[220 rows x 3 columns]

In [19]:
# def list_to_string(x):
#   if x:
#     return x.replace(',','').replace('[','').replace(']','').replace("'",'')
#   else:
#     return np.NaN

In [20]:
# df_2020['genres'] = df_2020['genres'].map(lambda x: list_to_string(x))

In [21]:
df_2020

                     Title  ...                                  genres
0               The Grudge  ...                          Horror Mystery
1               Underwater  ...  Action Horror Science Fiction Thriller
2              Like a Boss  ...                                  Comedy
3        Inherit the Viper  ...                    Drama Thriller Crime
4               The Sonata  ...                 Horror Thriller Mystery
..                     ...  ...                                     ...
215      News of the World  ...                           Drama Western
216     One Night in Miami  ...                                   Drama
217  Promising Young Woman  ...                    Thriller Crime Drama
218          Sylvie's Love  ...                                   Drama
219         Monster Hunter  ...                Fantasy Action Adventure

[220 rows x 3 columns]

In [22]:
def get_director(x):
  if " (director)" in x:
    return x.split(" (director)")[0]
  elif " (directors)" in x:
    return x.split(" (directors)")[0]
  else:
    return x.split("(director/screenplay)")[0]

In [23]:
df_2020['director_name'] = df['Cast and crew'].map(lambda x: get_director(x))
df_2020

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

                     Title  ...         director_name
0               The Grudge  ...        Nicolas Pesce
1               Underwater  ...        William Eubank
2              Like a Boss  ...         Miguel Arteta
3        Inherit the Viper  ...        Anthony Jerjen
4               The Sonata  ...       Andrew Desmond
..                     ...  ...                   ...
215      News of the World  ...      Paul Greengrass
216     One Night in Miami  ...           Regina King
217  Promising Young Woman  ...      Emerald Fennell
218          Sylvie's Love  ...          Eugene Ashe
219         Monster Hunter  ...  Paul W. S. Anderson

[220 rows x 4 columns]

In [24]:
df_2020['Cast and crew'][0]

'Nicolas Pesce (director/screenplay); Andrea Riseborough, DemiÃ¡n Bichir, John Cho, Betty Gilpin, Lin Shaye, Jacki Weaver'

In [25]:
def get_actorN(x,N):
  if "(screenplay); " in x:
    if len( (x.split("(screenplay); ")[1]).split(", ") ) >= N:
      return (x.split("(screenplay); ")[1]).split(", ")[N-1]
    else:
      return np.NaN
  elif "/screenplay); " in x:
    if len( (x.split("/screenplay); ")[1]).split(", ") ) >= N:
      return (x.split("/screenplay); ")[1]).split(", ")[N-1]
    else:
      return np.NaN    
  else:
    return np.NaN

In [26]:
df_2020['actor_1_name'] = df_2020['Cast and crew'].map(lambda x: get_actorN(x,1))
df_2020

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

                     Title  ...        actor_1_name
0               The Grudge  ...  Andrea Riseborough
1               Underwater  ...     Kristen Stewart
2              Like a Boss  ...     Tiffany Haddish
3        Inherit the Viper  ...       Josh Hartnett
4               The Sonata  ...       Freya Tingley
..                     ...  ...                 ...
215      News of the World  ...           Tom Hanks
216     One Night in Miami  ...   Kingsley Ben-Adir
217  Promising Young Woman  ...      Carey Mulligan
218          Sylvie's Love  ...      Tessa Thompson
219         Monster Hunter  ...      Milla Jovovich

[220 rows x 5 columns]

In [27]:
df_2020['actor_2_name'] = df_2020['Cast and crew'].map(lambda x: get_actorN(x,2))
df_2020

                     Title  ...       actor_2_name
0               The Grudge  ...      DemiÃ¡n Bichir
1               Underwater  ...     Vincent Cassel
2              Like a Boss  ...         Rose Byrne
3        Inherit the Viper  ...  Margarita Levieva
4               The Sonata  ...     Simon Abkarian
..                     ...  ...                ...
215      News of the World  ...      Helena Zengel
216     One Night in Miami  ...          Eli Goree
217  Promising Young Woman  ...         Bo Burnham
218          Sylvie's Love  ...    Nnamdi Asomugha
219         Monster Hunter  ...           Tony Jaa

[220 rows x 6 columns]

In [28]:
df_2020['actor_3_name'] = df_2020['Cast and crew'].map(lambda x: get_actorN(x,3))
df_2020

                     Title  ...         actor_3_name
0               The Grudge  ...             John Cho
1               Underwater  ...      Jessica Henwick
2              Like a Boss  ...          Salma Hayek
3        Inherit the Viper  ...       Chandler Riggs
4               The Sonata  ...         Rutger Hauer
..                     ...  ...                  ...
215      News of the World  ...      Neil Sandilands
216     One Night in Miami  ...          Aldis Hodge
217  Promising Young Woman  ...          Alison Brie
218          Sylvie's Love  ...  Ryan Michelle Bathe
219         Monster Hunter  ...    Tip "T.I." Harris

[220 rows x 7 columns]

In [29]:
df_2020 = df_2020.rename(columns={'Title':'movie_title'})

In [30]:
new_df20 = df_2020.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title']]
new_df20

            director_name  ...            movie_title
0          Nicolas Pesce   ...             The Grudge
1          William Eubank  ...             Underwater
2           Miguel Arteta  ...            Like a Boss
3          Anthony Jerjen  ...      Inherit the Viper
4         Andrew Desmond   ...             The Sonata
..                    ...  ...                    ...
215      Paul Greengrass   ...      News of the World
216           Regina King  ...     One Night in Miami
217      Emerald Fennell   ...  Promising Young Woman
218          Eugene Ashe   ...          Sylvie's Love
219  Paul W. S. Anderson   ...         Monster Hunter

[220 rows x 6 columns]

In [31]:
new_df20['comb'] = new_df20['actor_1_name'] + ' ' + new_df20['actor_2_name'] + ' ' + new_df20['actor_3_name'] + ' ' + new_df20['director_name'] + ' ' + new_df20['genres']

In [32]:
new_df20.isna().sum()

director_name     0
actor_1_name      8
actor_2_name     10
actor_3_name     25
genres            3
movie_title       0
comb             27
dtype: int64

In [33]:
new_df20 = new_df20.dropna(how='any')

In [34]:
new_df20.isna().sum()

director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
genres           0
movie_title      0
comb             0
dtype: int64

In [35]:
new_df20['actor_1_name'] = new_df20['actor_1_name'].replace(np.NaN, "unknown")
new_df20['actor_2_name'] = new_df20['actor_2_name'].replace(np.NaN, "unknown")
new_df20['actor_3_name'] = new_df20['actor_3_name'].replace(np.NaN, "unknown")
new_df20['director_name'] = new_df20['director_name'].replace(np.NaN, "unknown")
new_df20['genres'] = new_df20['genres'].replace(np.NaN, "unknown")
new_df20['movie_title'] = new_df20['movie_title'].replace(np.NaN, "unknown")

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [36]:
new_df20['movie_title'] = new_df20['movie_title'].str.lower()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [37]:
new_df20

            director_name  ...                                               comb
0          Nicolas Pesce   ...  Andrea Riseborough DemiÃ¡n Bichir John Cho Nico...
1          William Eubank  ...  Kristen Stewart Vincent Cassel Jessica Henwick...
2           Miguel Arteta  ...  Tiffany Haddish Rose Byrne Salma Hayek Miguel ...
3          Anthony Jerjen  ...  Josh Hartnett Margarita Levieva Chandler Riggs...
4         Andrew Desmond   ...  Freya Tingley Simon Abkarian Rutger Hauer Andr...
..                    ...  ...                                                ...
215      Paul Greengrass   ...  Tom Hanks Helena Zengel Neil Sandilands Paul G...
216           Regina King  ...  Kingsley Ben-Adir Eli Goree Aldis Hodge Regina...
217      Emerald Fennell   ...  Carey Mulligan Bo Burnham Alison Brie Emerald ...
218          Eugene Ashe   ...  Tessa Thompson Nnamdi Asomugha Ryan Michelle B...
219  Paul W. S. Anderson   ...  Milla Jovovich Tony Jaa Tip "T.I." Harris Paul...

[193 rows x 7 columns]

In [38]:
import os
Path = '/content'
dir_name = '1.-inputs_movie_recomendation'
if not os.path.isdir(Path + '/' + dir_name + '/'):
  os.mkdir(Path + '/' + dir_name + '/')

  !git clone https://github.com/anselmostitla/1.-inputs_movie_recomendation.git

Cloning into '1.-inputs_movie_recomendation'...
remote: Enumerating objects: 19, done.
remote: Counting objects: 100% (19/19), done.
remote: Compressing objects: 100% (13/13), done.
remote: Total 19 (delta 4), reused 15 (delta 3), pack-reused 0
Unpacking objects: 100% (19/19), done.

In [39]:
old_df = pd.read_csv('/content/1.-inputs_movie_recomendation/outputs/preprocessed_3.csv')
old_df

               director_name  ...                                               comb
0              James Cameron  ...  CCH Pounder Joel David Moore Wes Studi James C...
1             Gore Verbinski  ...  Johnny Depp Orlando Bloom Jack Davenport Gore ...
2                 Sam Mendes  ...  Christoph Waltz Rory Kinnear Stephanie Sigman ...
3          Christopher Nolan  ...  Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4                Doug Walker  ...  Doug Walker Rob Walker unknown Doug Walker Doc...
...                      ...  ...                                                ...
5868           Greta Gerwig   ...  Saoirse Ronan Emma Watson Florence Pugh Greta ...
5869             Sam Mendes   ...  George MacKay Dean-Charles Chapman Mark Strong...
5870  Destin Daniel Cretton   ...  Michael B. Jordan Jamie Foxx Brie Larson Desti...
5871        Chinonye Chukwu   ...  Alfre Woodard Wendell Pierce Aldis Hodge Chino...
5872           Waymon Boone   ...     Mena Suvari Kevin Pollak unknown Waymon Boone

[5873 rows x 7 columns]

In [40]:
final_df = old_df.append(new_df20, ignore_index=True)
final_df

             director_name  ...                                               comb
0            James Cameron  ...  CCH Pounder Joel David Moore Wes Studi James C...
1           Gore Verbinski  ...  Johnny Depp Orlando Bloom Jack Davenport Gore ...
2               Sam Mendes  ...  Christoph Waltz Rory Kinnear Stephanie Sigman ...
3        Christopher Nolan  ...  Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4              Doug Walker  ...  Doug Walker Rob Walker unknown Doug Walker Doc...
...                    ...  ...                                                ...
6061      Paul Greengrass   ...  Tom Hanks Helena Zengel Neil Sandilands Paul G...
6062           Regina King  ...  Kingsley Ben-Adir Eli Goree Aldis Hodge Regina...
6063      Emerald Fennell   ...  Carey Mulligan Bo Burnham Alison Brie Emerald ...
6064          Eugene Ashe   ...  Tessa Thompson Nnamdi Asomugha Ryan Michelle B...
6065  Paul W. S. Anderson   ...  Milla Jovovich Tony Jaa Tip "T.I." Harris Paul...

[6066 rows x 7 columns]

In [41]:
final_df.to_csv('preprocessed_4.csv', index=False)