In [1]:
import pandas as pd
import numpy as np

<h1>Extracting features of 2018 movies from Wikipedia</h1>

In [2]:
link = "https://en.wikipedia.org/wiki/List_of_American_films_of_2018"

In [3]:
df1 = pd.read_html(link, header = 0)[2]
df2 = pd.read_html(link, header = 0)[3]
df3 = pd.read_html(link, header = 0)[4]
df4 = pd.read_html(link, header = 0)[5]

In [4]:
df = df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)

In [5]:
df

      Opening  ...   Ref.
0     JANUARY  ...    [2]
1     JANUARY  ...    [3]
2     JANUARY  ...    [4]
3     JANUARY  ...    [5]
4     JANUARY  ...    [6]
..        ...  ...    ...
263  DECEMBER  ...  [162]
264  DECEMBER  ...  [136]
265  DECEMBER  ...  [223]
266  DECEMBER  ...  [256]
267  DECEMBER  ...  [257]

[268 rows x 6 columns]

In [6]:
!pip install tmdbv3api

Collecting tmdbv3api
  Downloading https://files.pythonhosted.org/packages/3e/03/e7ae6cb2777876f8d412e45c74abc639c77e1c91a97d73a99d542f4c43b0/tmdbv3api-1.6.2-py2.py3-none-any.whl
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from tmdbv3api) (2.23.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->tmdbv3api) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->tmdbv3api) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->tmdbv3api) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->tmdbv3api) (1.24.3)
Installing collected packages: tmdbv3api
Successfully installed tmdbv3api-1.6.2

In [7]:
from tmdbv3api import TMDb, Movie
import json
import requests
tmdb = TMDb()
tmdb.api_key = '5492165c61b1a21c06eb3a3b578a6339'
tmdb_movie = Movie()

In [8]:
def get_genre(x):
  genres = []
  result = tmdb_movie.search(x)
  movie_id = result[0].id
  response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}'.format(movie_id,tmdb.api_key))
  data_json = response.json()
  if data_json['genres']:
    genre_str = " "
    for i in range(0,len(data_json['genres'])):
      genres.append(data_json['genres'][i]['name'])
    return genre_str.join(genres)
  else:
    np.NaN

In [9]:
df['genres'] = df['Title'].map(lambda x: get_genre(str(x)) )
df

      Opening  ...                                           genres
0     JANUARY  ...                          Mystery Horror Thriller
1     JANUARY  ...                                   Thriller Drama
2     JANUARY  ...                                  Action Thriller
3     JANUARY  ...                            Drama History Western
4     JANUARY  ...                                  Action Thriller
..        ...  ...                                              ...
263  DECEMBER  ...                   Mystery Adventure Comedy Crime
264  DECEMBER  ...        Thriller Science Fiction Action Adventure
265  DECEMBER  ...                                    Drama History
266  DECEMBER  ...                      Thriller Crime Drama Action
267  DECEMBER  ...  Science Fiction Mystery Drama Thriller TV Movie

[268 rows x 7 columns]

In [10]:
df_2018 = df[['Title', 'Cast and crew','genres']]
df_2018

                          Title  ...                                           genres
0       Insidious: The Last Key  ...                          Mystery Horror Thriller
1              The Strange Ones  ...                                   Thriller Drama
2                      Stratton  ...                                  Action Thriller
3                 Sweet Country  ...                            Drama History Western
4                  The Commuter  ...                                  Action Thriller
..                          ...  ...                                              ...
263             Holmes & Watson  ...                   Mystery Adventure Comedy Crime
264                        Vice  ...        Thriller Science Fiction Action Adventure
265         On the Basis of Sex  ...                                    Drama History
266                   Destroyer  ...                      Thriller Crime Drama Action
267  Black Mirror: Bandersnatch  ...  Science Fiction Mystery Drama Thriller TV Movie

[268 rows x 3 columns]

In [11]:
df_2018['Cast and crew'][0]

'Adam Robitel (director); Leigh Whannell (screenplay); Lin Shaye, Angus Sampson, Leigh Whannell, Spencer Locke, Caitlin Gerard, Kirk Acevedo, Bruce Davison'

In [12]:
def get_director(x):
  if " (director)" in x:
    return x.split(" (director)")[0]
  elif " (directors)" in x:
    return x.split( "(directors)")[0]
  else:
    return x.split( "(director/screenplay)")[0]

In [13]:
df_2018['director_name'] = df_2018['Cast and crew'].map(lambda x: get_director(x))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [14]:
def get_actor1(x):
  return (x.split("screenplay); ")[-1]).split(", ")[0]

In [15]:
df_2018['actor_1_name'] = df_2018['Cast and crew'].map(lambda x: get_actor1(x))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [16]:
df_2018.loc[0:2,:]

                     Title  ...    actor_1_name
0  Insidious: The Last Key  ...       Lin Shaye
1         The Strange Ones  ...   Alex Pettyfer
2                 Stratton  ...  Dominic Cooper

[3 rows x 5 columns]

In [17]:
def get_actor2(x):
  if len((x.split("screenplay); ")[-1]).split(", "))<2:
    return np.NaN
  else:
    return (x.split("screenplay); ")[-1]).split(", ")[1]

In [18]:
df_2018['actor_2_name'] = df_2018['Cast and crew'].map(lambda x: get_actor2(x))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [19]:
df_2018.loc[0:2, : ]

                     Title  ...            actor_2_name
0  Insidious: The Last Key  ...           Angus Sampson
1         The Strange Ones  ...  James Freedson-Jackson
2                 Stratton  ...          Austin Stowell

[3 rows x 6 columns]

In [20]:
def get_actor3(x):
  if len((x.split("screenplay); ")[-1]).split(", "))<3:
    return np.NaN
  else:
    return (x.split("screenplay); ")[-1]).split(", ")[2]

In [21]:
df_2018['actor_3_name'] = df_2018['Cast and crew'].map(lambda x: get_actor3(x))

In [22]:
df_2018.loc[0:2, :]

                     Title  ...    actor_3_name
0  Insidious: The Last Key  ...  Leigh Whannell
1         The Strange Ones  ...   Emily Althaus
2                 Stratton  ...      Gemma Chan

[3 rows x 7 columns]

In [23]:
df_2018 = df_2018.rename(columns={"Title" : "movie_title"})

In [24]:
new_df18 = df_2018.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title']]

In [25]:
new_df18

          director_name  ...                 movie_title
0          Adam Robitel  ...     Insidious: The Last Key
1      Lauren Wolkstein  ...            The Strange Ones
2            Simon West  ...                    Stratton
3      Warwick Thornton  ...               Sweet Country
4    Jaume Collet-Serra  ...                The Commuter
..                  ...  ...                         ...
263         Etan Cohen   ...             Holmes & Watson
264         Adam McKay   ...                        Vice
265          Mimi Leder  ...         On the Basis of Sex
266        Karyn Kusama  ...                   Destroyer
267         David Slade  ...  Black Mirror: Bandersnatch

[268 rows x 6 columns]

In [26]:
new_df18['actor_2_name'] = new_df18['actor_2_name'].replace(np.nan,'unknown')

In [27]:
new_df18['actor_3_name'] = new_df18['actor_3_name'].replace(np.nan,'unknown')

In [28]:
new_df18['movie_title'] = new_df18['movie_title'].str.lower()

In [29]:
new_df18['comb'] = new_df18['actor_1_name'] + ' ' + new_df18['actor_2_name'] + ' ' + new_df18['actor_3_name'] + ' ' + new_df18['director_name']

In [30]:
new_df18

          director_name  ...                                               comb
0          Adam Robitel  ...  Lin Shaye Angus Sampson Leigh Whannell Adam Ro...
1      Lauren Wolkstein  ...  Alex Pettyfer James Freedson-Jackson Emily Alt...
2            Simon West  ...  Dominic Cooper Austin Stowell Gemma Chan Simon...
3      Warwick Thornton  ...     Bryan Brown Sam Neill unknown Warwick Thornton
4    Jaume Collet-Serra  ...  Liam Neeson Vera Farmiga Patrick Wilson Jaume ...
..                  ...  ...                                                ...
263         Etan Cohen   ...  Will Ferrell John C. Reilly Rebecca Hall Etan ...
264         Adam McKay   ...  Christian Bale Amy Adams Steve Carell Adam McKay
265          Mimi Leder  ...  Felicity Jones Armie Hammer Justin Theroux Mim...
266        Karyn Kusama  ...  Nicole Kidman Sebastian Stan Toby Kebbell Kary...
267         David Slade  ...  Fionn Whitehead Will Poulter Asim Chaudhry Dav...

[268 rows x 7 columns]

**<h1>Extracting features of 2019 movies from Wikipedia</h1>**

In [31]:
link = "https://en.wikipedia.org/wiki/List_of_American_films_of_2019"

In [32]:
df1 = pd.read_html(link, header=0)[3]
df2 = pd.read_html(link, header=0)[4]
df3 = pd.read_html(link, header=0)[5]
df4 = pd.read_html(link, header=0)[6]

In [33]:
df = df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)

In [34]:
df

      Opening  ...   Ref.
0     JANUARY  ...    [2]
1     JANUARY  ...    [3]
2     JANUARY  ...    [4]
3     JANUARY  ...    [5]
4     JANUARY  ...    [6]
..        ...  ...    ...
236  DECEMBER  ...  [222]
237  DECEMBER  ...  [223]
238  DECEMBER  ...  [224]
239  DECEMBER  ...  [225]
240  DECEMBER  ...  [226]

[241 rows x 6 columns]

In [35]:
df['genres'] = df['Title'].map(lambda x: get_genre(str(x)))

In [36]:
df_2019 = df[['Title','Cast and crew','genres']]

In [37]:
df_2019

                Title  ...                                    genres
0         Escape Room  ...  Thriller Action Mystery Adventure Horror
1          Rust Creek  ...                            Thriller Drama
2    American Hangman  ...                                  Thriller
3    A Dog's Way Home  ...                    Drama Adventure Family
4          The Upside  ...                              Comedy Drama
..                ...  ...                                       ...
236      Little Women  ...                             Drama Romance
237              1917  ...                  War Drama Action History
238        Just Mercy  ...                               Drama Crime
239          Clemency  ...                                     Drama
240        Apparition  ...                           Horror Thriller

[241 rows x 3 columns]

hasta aqui "ejecutado"

In [38]:
df_2019['director_name'] = df_2019['Cast and crew'].map(lambda x: get_director(x))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [39]:
df_2019

                Title  ...           director_name
0         Escape Room  ...            Adam Robitel
1          Rust Creek  ...             Jen McGowan
2    American Hangman  ...      Wilson Coneybeare
3    A Dog's Way Home  ...    Charles Martin Smith
4          The Upside  ...             Neil Burger
..                ...  ...                     ...
236      Little Women  ...           Greta Gerwig
237              1917  ...             Sam Mendes
238        Just Mercy  ...  Destin Daniel Cretton
239          Clemency  ...        Chinonye Chukwu
240        Apparition  ...           Waymon Boone

[241 rows x 4 columns]

In [40]:
df_2019['actor_1_name'] = df_2019['Cast and crew'].map(lambda x: get_actor1(x))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [41]:
df_2019['actor_2_name'] = df_2019['Cast and crew'].map(lambda x: get_actor2(x))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [42]:
df_2019['actor_3_name'] = df_2019['Cast and crew'].map(lambda x: get_actor3(x))

In [43]:
df_2019 = df_2019.rename(columns={'Title':'movie_title'})

In [44]:
new_df19 = df_2019[['director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title']]

In [45]:
new_df19['actor_2_name'] = new_df19['actor_2_name'].replace(np.nan,'unknown')
new_df19['actor_3_name'] = new_df19['actor_3_name'].replace(np.nan,'unknown')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [46]:
new_df19['movie_title'] = new_df19['movie_title'].str.lower()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [47]:
new_df19['comb'] = new_df19['actor_1_name'] + ' ' + new_df19['actor_2_name'] + ' ' + new_df19['actor_3_name'] + ' ' + new_df19['director_name']

In [48]:
new_df19

              director_name  ...                                               comb
0              Adam Robitel  ...  Taylor Russell Logan Miller Deborah Ann Woll A...
1               Jen McGowan  ...  Hermione Corfield Jay Paulson Sean O'Bryan Jen...
2        Wilson Coneybeare   ...  Donald Sutherland Vincent Kartheiser Oliver De...
3      Charles Martin Smith  ...  Bryce Dallas Howard Edward James Olmos Alexand...
4               Neil Burger  ...  Bryan Cranston Kevin Hart Nicole Kidman Neil B...
..                      ...  ...                                                ...
236           Greta Gerwig   ...  Saoirse Ronan Emma Watson Florence Pugh Greta ...
237             Sam Mendes   ...  George MacKay Dean-Charles Chapman Mark Strong...
238  Destin Daniel Cretton   ...  Michael B. Jordan Jamie Foxx Brie Larson Desti...
239        Chinonye Chukwu   ...  Alfre Woodard Wendell Pierce Aldis Hodge Chino...
240           Waymon Boone   ...     Mena Suvari Kevin Pollak unknown Waymon Boone

[241 rows x 7 columns]

In [49]:
my_df = new_df18.append(new_df19,ignore_index=True)

In [50]:
import os
Path = '/content'
dir_name = '1.-inputs_movie_recomendation'
if not os.path.isdir(Path + '/' + dir_name + '/'):
  os.mkdir(Path + '/' + dir_name + '/')

  !git clone https://github.com/anselmostitla/1.-inputs_movie_recomendation.git

Cloning into '1.-inputs_movie_recomendation'...
remote: Enumerating objects: 19, done.
remote: Counting objects: 100% (19/19), done.
remote: Compressing objects: 100% (13/13), done.
remote: Total 19 (delta 4), reused 15 (delta 3), pack-reused 0
Unpacking objects: 100% (19/19), done.

In [51]:
old_df = pd.read_csv('/content/1.-inputs_movie_recomendation/outputs/preprocessed_2.csv')
old_df

              director_name  ...                                               comb
0             James Cameron  ...  CCH Pounder Joel David Moore Wes Studi James C...
1            Gore Verbinski  ...  Johnny Depp Orlando Bloom Jack Davenport Gore ...
2                Sam Mendes  ...  Christoph Waltz Rory Kinnear Stephanie Sigman ...
3         Christopher Nolan  ...  Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4               Doug Walker  ...  Doug Walker Rob Walker unknown Doug Walker Doc...
...                     ...  ...                                                ...
5359            Jim Strouse  ...  Jessica Williams Chris O'Dowd Keith Stanfield ...
5360            Farhad Mann  ...  Adelaide Kane Benjamin Hollingsworth Jean Loui...
5361       Hannaleena Hauru  ...  Inka Haapamäki Rosa Honkonen Tiitus Rantala Ha...
5362  Jonathan A. Rosenbaum  ...  Lou Diamond Phillips Wallace Shawn Gina Holden...
5363           Ravi Udyawar  ...  Sridevi Kapoor Sajal Ali Akshaye Khanna Ravi U...

[5364 rows x 7 columns]

In [52]:
final_df = old_df.append(my_df,ignore_index=True)

In [53]:
final_df

               director_name  ...                                               comb
0              James Cameron  ...  CCH Pounder Joel David Moore Wes Studi James C...
1             Gore Verbinski  ...  Johnny Depp Orlando Bloom Jack Davenport Gore ...
2                 Sam Mendes  ...  Christoph Waltz Rory Kinnear Stephanie Sigman ...
3          Christopher Nolan  ...  Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4                Doug Walker  ...  Doug Walker Rob Walker unknown Doug Walker Doc...
...                      ...  ...                                                ...
5868           Greta Gerwig   ...  Saoirse Ronan Emma Watson Florence Pugh Greta ...
5869             Sam Mendes   ...  George MacKay Dean-Charles Chapman Mark Strong...
5870  Destin Daniel Cretton   ...  Michael B. Jordan Jamie Foxx Brie Larson Desti...
5871        Chinonye Chukwu   ...  Alfre Woodard Wendell Pierce Aldis Hodge Chino...
5872           Waymon Boone   ...     Mena Suvari Kevin Pollak unknown Waymon Boone

[5873 rows x 7 columns]

In [54]:
final_df.to_csv('preprocessed_3.csv',index=False)