In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
dir_name_1 = '1.-inputs_movie_recomendation'
if not os.path.isdir('./' + dir_name_1 + '/'):
  os.mkdir('./' + dir_name_1 + '/')

  !git clone https://github.com/anselmostitla/1.-inputs_movie_recomendation.git

Cloning into '1.-inputs_movie_recomendation'...
remote: Enumerating objects: 19, done.
remote: Counting objects: 100% (19/19), done.
remote: Compressing objects: 100% (13/13), done.
remote: Total 19 (delta 4), reused 15 (delta 3), pack-reused 0
Unpacking objects: 100% (19/19), done.

In [3]:
def dirMaker(pathDirectory):
  if not os.path.isdir('./' + pathDirectory + '/'):
    os.mkdir('./' + pathDirectory + '/')

dirMaker("inputs")

In [4]:
!unrar x "/content/1.-inputs_movie_recomendation/inputs/credits.rar" -d "./inputs"
!unrar x "/content/1.-inputs_movie_recomendation/inputs/movies_metadata.rar" -d "./inputs"

UNRAR 5.50 freeware      Copyright (c) 1993-2017 Alexander Roshal


Extracting from /content/1.-inputs_movie_recomendation/inputs/credits.rar

Extracting  ./inputs/credits.csv                                           0%  1%  2%  3%  4%  5%  6%  7%  8%  9% 10% 11% 12% 13% 14% 15% 16% 17% 18% 19% 20% 21% 22% 23% 24% 25% 26% 27% 28% 29% 30% 31% 32% 33% 34% 35% 36% 37% 38% 39% 40% 41% 42% 43% 44% 45% 46% 47% 48% 49% 50% 51% 52% 53% 54% 55% 56% 57% 58% 59% 60% 61% 62% 63% 64% 65% 66% 67% 68% 69% 70% 71% 72% 73% 74% 75% 76% 77% 78% 79% 80% 81% 82% 83% 84% 85% 86% 87% 88% 89% 90% 91% 92% 93% 94% 95% 96% 97% 98% 99%  OK
All OK

UNRAR 5.50 freeware      Copyright (c) 1993-2017 Alexander Roshal


Extracting from /content/1.-inputs_movie_recomendation/inputs/movies_metadata.rar

Extracting  ./inputs/movies_metadata.csv                                   0%  1%  2%  3%  4%  5%  6%  7%  8%  9% 10% 11% 12% 13% 14% 15% 16% 17% 18% 19% 20% 21% 22% 23% 24% 25% 26% 27% 28% 29% 30% 31% 32% 33% 34% 35% 36% 37% 38% 39% 40% 41% 42% 43% 44% 45% 46% 47% 48% 49% 50% 51% 52% 53% 54% 55% 56% 57% 58% 59% 60% 61% 62% 63% 64% 65% 66% 67% 68% 69% 70% 71% 72% 73% 74% 75% 76% 77% 78% 79% 80% 81% 82% 83% 84% 85% 86% 87% 88% 89% 90% 91% 92% 93% 94% 95% 96% 97% 98% 99%  OK
All OK

In [5]:
credits = pd.read_csv('./inputs/credits.csv')
credits.head(4)

                                                cast  ...     id
0  [{'cast_id': 14, 'character': 'Woody (voice)',...  ...    862
1  [{'cast_id': 1, 'character': 'Alan Parrish', '...  ...   8844
2  [{'cast_id': 2, 'character': 'Max Goldman', 'c...  ...  15602
3  [{'cast_id': 1, 'character': "Savannah 'Vannah...  ...  31357

[4 rows x 3 columns]

In [6]:
meta = pd.read_csv('./inputs/movies_metadata.csv')
meta.head(2)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0

[2 rows x 24 columns]

In [7]:
meta['release_date'] = pd.to_datetime(meta['release_date'],errors='coerce')

In [8]:
meta['year'] = meta['release_date'].dt.year

In [9]:
meta['year'].value_counts().sort_index()

1874.0       1
1878.0       1
1883.0       1
1887.0       1
1888.0       2
          ...
2015.0    1905
2016.0    1604
2017.0     532
2018.0       5
2020.0       1
Name: year, Length: 135, dtype: int64

In [10]:
new_meta = meta.loc[meta.year == 2017,['genres','id','title','year']]
new_meta.head(3)

                                                  genres  ...    year
26560  [{'id': 12, 'name': 'Adventure'}, {'id': 28, '...  ...  2017.0
26561  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...  ...  2017.0
26565  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...  ...  2017.0

[3 rows x 4 columns]

In [11]:
new_meta['id'] = new_meta['id'].astype(int)

In [12]:
data = pd.merge(new_meta,credits,on='id')

In [13]:
pd.set_option('display.max_colwidth', 75)
data.head(3)

                                                                       genres  ...                                                                        crew
0  [{'id': 12, 'name': 'Adventure'}, {'id': 28, 'name': 'Action'}, {'id': ...  ...  [{'credit_id': '52fe4c9cc3a36847f8236a65', 'department': 'Production', ...
1  [{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': ...  ...  [{'credit_id': '55ef66dbc3a3686f1700a52d', 'department': 'Production', ...
2  [{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': ...  ...  [{'credit_id': '56a93fa4c3a36872db001e7a', 'department': 'Writing', 'ge...

[3 rows x 6 columns]

In [14]:
import ast
data['genres']=data['genres'].map(lambda x: ast.literal_eval(x))

In [15]:
data['cast']=data['cast'].map(lambda x: ast.literal_eval(x))

In [16]:
data['crew']=data['crew'].map(lambda x: ast.literal_eval(x))

In [17]:
data.iloc[21:24,:]

                                                                        genres  ...                                                                        crew
21             [{'id': 10749, 'name': 'Romance'}, {'id': 18, 'name': 'Drama'}]  ...  [{'credit_id': '568024559251412e5200b981', 'department': 'Directing', '...
22  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'name': 'Drama'}, {'id': 1075...  ...  [{'credit_id': '5911e5699251414edb0464fa', 'department': 'Directing', '...
23                                         [{'id': 99, 'name': 'Documentary'}]  ...  [{'credit_id': '58a1d21f9251413c62005641', 'department': 'Directing', '...

[3 rows x 6 columns]

In [18]:
def make_genresList(x):
  gen=[]
  st=" "
  for i in x:
    if i.get('name')=='Science Fiction':
      scifi = 'Sci-Fi'
      gen.append(scifi)
    else:
      gen.append(i.get('name'))
  if gen==[]:
    return np.NaN
  else:
    return (st.join(gen))

In [19]:
data['genres_list']=data['genres'].map(lambda x: make_genresList(x))

In [20]:
data['genres_list']

0      Adventure Action Fantasy Comedy
1      Action Adventure Fantasy Sci-Fi
2      Action Adventure Fantasy Sci-Fi
3       Action Adventure Comedy Sci-Fi
4             Fantasy Action Adventure
                    ...
526                     Romance Comedy
527         Crime Comedy Action Family
528    Family Animation Romance Comedy
529               Crime Drama Thriller
530                                NaN
Name: genres_list, Length: 531, dtype: object

In [21]:
def get_actor1(x):
  casts = []
  for i in x:
    casts.append(i.get('name'))
  if casts ==[]:
    return np.NaN
  else:
    return (casts[0])

In [22]:
data['actor_1_name'] = data['cast'].map(lambda x: get_actor1(x))

In [23]:
def get_actor2(x):
  casts = []
  for i in x:
    casts.append(i.get('name'))
  if casts == [] or len(casts) <=1:
    return np.NaN
  else:
    return (casts[1])

In [24]:
data['actor_2_name'] = data['cast'].map(lambda x: get_actor2(x))

In [25]:
data['actor_2_name']

0       Javier Bardem
1        Henry Cavill
2      Tom Hiddleston
3         Zoe Saldana
4        William Hurt
            ...
526     Rosa Honkonen
527     Wallace Shawn
528               NaN
529         Sajal Ali
530               NaN
Name: actor_2_name, Length: 531, dtype: object

In [26]:
def get_actorN(x,N):
  casts = []
  st = " "
  for i in x:
    casts.append(i.get('name'))
  if casts == [] or len(casts) < N:
    return np.NaN
  else:
    return (casts[N-1])

In [27]:
data['actor_3_name'] = data['cast'].map(lambda x: get_actorN(x,3))

In [28]:
data['actor_3_name']

0        Geoffrey Rush
1            Gal Gadot
2       Cate Blanchett
3        Dave Bautista
4      Benjamin Walker
            ...
526     Tiitus Rantala
527        Gina Holden
528                NaN
529     Akshaye Khanna
530                NaN
Name: actor_3_name, Length: 531, dtype: object

In [29]:
def get_director(x):
  dt = []
  st = " "
  for i in x:
    if i.get('job') == 'Director':
      dt.append(i.get('name'))
  if dt == []:
    return np.NaN
  else:
    return st.join(dt)

In [30]:
data['director_name'] = data['crew'].map(lambda x: get_director(x))

In [31]:
data['director_name']

0      Joachim Rønning Espen Sandberg
1                         Zack Snyder
2                       Taika Waititi
3                          James Gunn
4                       Sean McNamara
                    ...
526                  Hannaleena Hauru
527             Jonathan A. Rosenbaum
528          Beth David Esteban Bravo
529                      Ravi Udyawar
530                     Daisy Asquith
Name: director_name, Length: 531, dtype: object

In [32]:
movie = data.loc[:, ['director_name', 'actor_1_name', 'actor_2_name', 'actor_3_name', 'genres_list', 'title']]

In [33]:
movie.loc[0:3 , :]

                    director_name  ...                                             title
0  Joachim Rønning Espen Sandberg  ...  Pirates of the Caribbean: Dead Men Tell No Tales
1                     Zack Snyder  ...                                    Justice League
2                   Taika Waititi  ...                                    Thor: Ragnarok
3                      James Gunn  ...                    Guardians of the Galaxy Vol. 2

[4 rows x 6 columns]

In [34]:
movie.isna().sum()

director_name     4
actor_1_name     22
actor_2_name     55
actor_3_name     70
genres_list       7
title             0
dtype: int64

In [35]:
movie = movie.dropna(how = 'any')

In [36]:
movie.isna().sum()

director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
genres_list      0
title            0
dtype: int64

In [37]:
movie = movie.rename(columns={'genres_list': 'genres'})
movie = movie.rename(columns={'title':'movie_title'})

In [38]:
movie['movie_title']=movie['movie_title'].str.lower()

In [39]:
movie['comb'] = movie['actor_1_name'] + ' ' + movie['actor_2_name'] + ' ' + movie['actor_3_name'] + ' ' + movie['director_name'] + ' ' + movie['genres']

In [40]:
movie.loc[0:3,:]

                    director_name  ...                                                                        comb
0  Joachim Rønning Espen Sandberg  ...  Johnny Depp Javier Bardem Geoffrey Rush Joachim Rønning Espen Sandberg ...
1                     Zack Snyder  ...  Ben Affleck Henry Cavill Gal Gadot Zack Snyder Action Adventure Fantasy...
2                   Taika Waititi  ...  Chris Hemsworth Tom Hiddleston Cate Blanchett Taika Waititi Action Adve...
3                      James Gunn  ...  Chris Pratt Zoe Saldana Dave Bautista James Gunn Action Adventure Comed...

[4 rows x 7 columns]

In [41]:
old = pd.read_csv('/content/1.-inputs_movie_recomendation/outputs/preprocessed_1.csv')

In [42]:
old.loc[0:2,:]

    director_name  ...                               movie_title
0   James Cameron  ...                                    avatar
1  Gore Verbinski  ...  pirates of the caribbean: at world's end
2      Sam Mendes  ...                                   spectre

[3 rows x 6 columns]

In [43]:
old['comb'] = old['actor_1_name'] + ' ' + old['actor_2_name'] + ' ' + old['actor_3_name'] + ' ' + old['director_name'] + ' ' + old['genres']

In [44]:
old.loc[0:2,:]

    director_name  ...                                                                        comb
0   James Cameron  ...  CCH Pounder Joel David Moore Wes Studi James Cameron Action|Adventure|F...
1  Gore Verbinski  ...  Johnny Depp Orlando Bloom Jack Davenport Gore Verbinski Action|Adventur...
2      Sam Mendes  ...  Christoph Waltz Rory Kinnear Stephanie Sigman Sam Mendes Action|Adventu...

[3 rows x 7 columns]

In [45]:
new = old.append(movie)

In [46]:
new

             director_name  ...                                                                        comb
0            James Cameron  ...  CCH Pounder Joel David Moore Wes Studi James Cameron Action|Adventure|F...
1           Gore Verbinski  ...  Johnny Depp Orlando Bloom Jack Davenport Gore Verbinski Action|Adventur...
2               Sam Mendes  ...  Christoph Waltz Rory Kinnear Stephanie Sigman Sam Mendes Action|Adventu...
3        Christopher Nolan  ...  Tom Hardy Christian Bale Joseph Gordon-Levitt Christopher Nolan Action|...
4              Doug Walker  ...                      Doug Walker Rob Walker unknown Doug Walker Documentary
..                     ...  ...                                                                         ...
524            Jim Strouse  ...    Jessica Williams Chris O'Dowd Keith Stanfield Jim Strouse Romance Comedy
525            Farhad Mann  ...  Adelaide Kane Benjamin Hollingsworth Jean Louisa Kelly Farhad Mann Romance
526       Hannaleena Hauru  ...  Inka Haapamäki Rosa Honkonen Tiitus Rantala Hannaleena Hauru Romance Co...
527  Jonathan A. Rosenbaum  ...  Lou Diamond Phillips Wallace Shawn Gina Holden Jonathan A. Rosenbaum Cr...
529           Ravi Udyawar  ...   Sridevi Kapoor Sajal Ali Akshaye Khanna Ravi Udyawar Crime Drama Thriller

[5501 rows x 7 columns]

In [47]:
new.drop_duplicates(subset="movie_title", keep='last', inplace = True)

In [48]:
new

             director_name  ...                                                                        comb
0            James Cameron  ...  CCH Pounder Joel David Moore Wes Studi James Cameron Action|Adventure|F...
1           Gore Verbinski  ...  Johnny Depp Orlando Bloom Jack Davenport Gore Verbinski Action|Adventur...
2               Sam Mendes  ...  Christoph Waltz Rory Kinnear Stephanie Sigman Sam Mendes Action|Adventu...
3        Christopher Nolan  ...  Tom Hardy Christian Bale Joseph Gordon-Levitt Christopher Nolan Action|...
4              Doug Walker  ...                      Doug Walker Rob Walker unknown Doug Walker Documentary
..                     ...  ...                                                                         ...
524            Jim Strouse  ...    Jessica Williams Chris O'Dowd Keith Stanfield Jim Strouse Romance Comedy
525            Farhad Mann  ...  Adelaide Kane Benjamin Hollingsworth Jean Louisa Kelly Farhad Mann Romance
526       Hannaleena Hauru  ...  Inka Haapamäki Rosa Honkonen Tiitus Rantala Hannaleena Hauru Romance Co...
527  Jonathan A. Rosenbaum  ...  Lou Diamond Phillips Wallace Shawn Gina Holden Jonathan A. Rosenbaum Cr...
529           Ravi Udyawar  ...   Sridevi Kapoor Sajal Ali Akshaye Khanna Ravi Udyawar Crime Drama Thriller

[5364 rows x 7 columns]

In [49]:
new.to_csv('preprocessed_2.csv', index = False)